.mainchat
  .mainchat__group
    .mainchat__group-name
      TECH::CAMP
      %ul.member-list
        Member:
        %li.member-list-first 
          masa
    .mainchat__group-edit
      = link_to "#", class: "edit__btn" do
        Edit
  .mainchat__contents
    .mainchat__contents-first
      .mainchat__contents-first-item
        .mainchat__contents-first-item-username
          masa
        .mainchat__contents-first-item-date
          2020/02/08(Sat) 13:24:26
      .mainchat__contents-first-message
        こんにちは
  .mainchat__textbox
    %form.new-message
      .input-box
        %input.input-text{:placeholder => "type a message", :type => "text"}/
        %label.text(for="upload-image")
          = icon('fas', 'image')
        %input{type: "file",style:"display:none",id:"upload-image"}
        %input.submit-btn{:name => "commit", :type => "submit", :value => "Send"}/
        
  

