.sidebar
  .sidebar__username
    .sidebar__username-brank
      .sidebar__username-brank-left
        masa
      .sidebar__username-brank-right
        = link_to "#", class: "contents__btn" do
          = icon('fas', 'edit')
        = link_to "#", class: "contents__btn" do
          = icon('fas', 'cog')
  .sidebar__index
    .sidebar__index-first
      .sidebar__index-first-groupname
        TECH::CAMP
      .sidebar__index-first-content
        まだメッセージがありません
    .sidebar__index-second
    